.videoPreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 1248px;
  height: 702px;
}

.videoSlider {
  display: flex;
  justify-content: space-around;
}

.videoSlider > a > img,
.videoSlider > img {
  border: 1px solid black;
  width: 240px;
  height: 180px;
}

.videoSlider > img {
  border: 5px solid #0069d9;
}

.previewCode {
  padding-top: 15px;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.leftArrowDiv > a,
.rightArrowDiv > a {
  font-size: 6rem;
  font-weight: 1000;
}
.leftArrowDiv,
.rightArrowDiv {
  margin: 8px;
}

.codePreview {
  padding-left: 15px;
  flex: 22;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 800px;
}

.codePreviewHeader {
  display: flex;
  justify-content: space-between;
}

.fileName {
  font-size: 4rem;
  font-weight: 700;
}

.userAvatar {
  padding-top: 20px;
  display: flex;
  margin-right: 80px;
}

.userName {
  font-size: 2rem;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.pathRepo {
  font-weight: 700;
  text-decoration: underline;
}

pre {
  padding: 10px;
  border: 1px solid gray;
}
