.searchHeader,
.searchHeader > form {
  flex: 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchNav {
  flex: 1 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.searchNavLeft {
  font-size: 2.5rem;
  text-shadow: 2px 2px rgba(136, 136, 136, 0.5);
  font-weight: 550;
  margin-left: 15px;
}

.searchNav > form {
  margin-top: 8px;
  width: 60%;
  justify-content: center;
}

.searchNav > form > input {
  height: 2.4rem;
  width: 90%;
  box-shadow: 2px 2px rgba(134, 134, 134, 0.3);
  margin-right: 4px;
  border-radius: 3px;
}

.searchNav > form > button {
  box-shadow: 2px 2px rgba(117, 117, 117, 0.3);
}

.searchNavRight {
  display: flex;
}

.refineSearch {
  flex: 1 10%;
  min-width: 150px;
  padding-left: 15px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}

.refineCheckBox {
  align-self: flex-start;
}

#searchList3,
#searchList2,
#searchList1 {
  margin-right: 5px;
  box-shadow: 1px 1px rgb(202, 202, 202);
}

.searchTabs {
  flex: 25;
  display: flex;
  flex-direction: column;
}

.tabbyList {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

.tabby {
  float: left;
  width: 80px;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  font-size: 20px;
  padding: 5px 5px 2px 5px;
}

.tabby:hover {
  font-weight: bold;
  cursor: grabbing;
}

.selectedTab {
  background-color: rgba(167, 167, 167, 0.5);
  align-content: center;
  font-weight: bold;
}

.searchList {
  flex: 20;
}

.tabPanel,
.tabVideoPanel {
  margin: 0;
  border: 1px solid rgb(230, 230, 230);
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 15px 0 0 0;
}

.codeDiv {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.leftDiv {
  flex: 15;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftTopDiv {
  display: flex;
  cursor: grabbing;
}

pre {
  font-size: 0.9rem;
  width: 33%;
  cursor: grabbing;
}

.searchUserAvatar {
  width: 10rem;
  height: 10rem;
}

.codeMiddleColumn {
  padding-left: 15px;
  flex: 10;
  height: 100%;
}

.searchFileName {
  font-size: 3rem;
  font-weight: 550;
}

.author {
  font-size: 2rem;
}

.repository {
  font-style: italic;
}

.leftBottomDiv {
  display: flex;
}

.repoLink .fileLink {
  width: 200px;
  flex: 1;
}

.forum {
  padding-top: 5px;
}

.tabVideoPanel {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.videoResult {
  width: 400px;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.mediaImage {
  border-radius: 9px;
}

.mediaTitle {
  font-size: 18px;
  font-weight: 600;
}

.mediaDescription {
  font-size: 14px;
  font-style: italic;
}
